.ed {
  background-color: rgb(0,35,102);
  width: 95%;
  text-align: center;
  margin: 10rem auto;
  height: 100rem;
  outline: 3px solid white;
  outline-offset: -5rem;
  position: relative;
}
.feature-box2 {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 0rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  width: 27vw;
  margin-top: 120px;
  margin-left: 100px;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
    width: 40rem;
  }
}
.feature-box2:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
@media (max-width: 37.5em) {
  .ed {
    background-color: rgb(0,35,102);
    width: 95%;
    text-align: center;
    margin: 10rem auto;
    height: 140rem;
    outline: 2px solid white;
    outline-offset: -2rem;
  }
  .feature-box2 {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 0rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    width: 35rem;
    margin: 40px auto;
  }
}
.qwerty{
  margin-top: 100px;
  height: 100px;
  width: 100px;
}
.headeredu {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../img/i3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);  */
}
@media (max-width: 37.5em) {
  .headeredu {
    height: 70vh;

    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */
  }
}
.headercm{
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../img/SDMH.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);  */
}
@media (max-width: 37.5em) {
  .headercm{
    height: 70vh;

    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */
  }
}
.headerin{
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0,0,0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/s2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);  */
}
@media (max-width: 37.5em) {
  .headerin {
    height: 70vh;

    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */
  }
}
.headerre{
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0,0,0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/mr2.png);
  background-size: cover;
  background-position: top;
  position: relative;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);  */
}
@media (max-width: 37.5em) {
  .headerre{
    height: 70vh;

    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 20.5rem;
}
@media (max-width: 37.5em) {
  .header__logo {
    height: 10.5rem;
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.ft1{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.ft2{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 37.5em) {
  .ft2{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 9%;
    left: 50%;
    margin-bottom: 10px;

  }
  
}
.u-margin-bottom-big1 {
  margin-top: 7.5rem !important;
}
.headercp {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/sdrt2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);  */
}
@media (max-width: 37.5em) {
  .headercp {
    height: 70vh;

    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */
  }
}

.heading-primary1 {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

@media (max-width: 37.5em) {
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
  }
}
