<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>T & T | Engineers and Constructors</title>
  </head>
  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="/" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="/infrastructure" class="navigation__link"
              >infrastructure</a
            >
          </li>

          <li class="navigation__item">
            <a href="/commercial" class="navigation__link">commercial</a>
          </li>
          <li class="navigation__item">
            <a href="/residential" class="navigation__link">residential</a>
          </li>
          <li class="navigation__item">
            <a href="/industrial" class="navigation__link">industrial</a>
          </li>
          <li class="navigation__item">
            <a href="/current-projects" class="navigation__link"
              >current &nbsp; projects</a
            >
          </li>
          <li class="navigation__item">
            <a href="/view-all" class="navigation__link">view &nbsp; all</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="u-center-text u-margin-bottom-big ash" id="mission">
      <h2 class="heading-secondary5" class="margin-top:50px">CITATIONS</h2>
    </div>
    <div class="as1">
      <img class="img4" src="../img/ci3.jpg" width="460" height="345" />
      <img class="img4" src="../img/ci4.jpg" width="460" height="345" />
      <img class="img4" src="../img/ci5.jpg" width="460" height="345" />
      <img class="img4" src="../img/ci1.png" width="460" height="345" />
      <img class="img4" src="../img/ci2.png" width="460" height="345" />

      <img class="img4" src="../img/ci6.jpg" width="460" height="345" />
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
