<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>T & T | Engineers and Constructors</title>
  </head>
  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="/" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="/infra" class="navigation__link">infrastructure</a>
          </li>
          <li class="navigation__item">
            <a href="/educational" class="navigation__link">educational</a>
          </li>
          <li class="navigation__item">
            <a href="/commercial" class="navigation__link">commercial</a>
          </li>
          <li class="navigation__item">
            <a href="/residential" class="navigation__link">residential</a>
          </li>
          <li class="navigation__item">
            <a href="/industrial" class="navigation__link">industrial</a>
          </li>

          <li class="navigation__item">
            <a href="/view-all" class="navigation__link">view &nbsp; all</a>
          </li>
        </ul>
      </nav>
    </div>
    <header class="headercp">
      <div class="header__text-box">
        <h1 class="heading-primary1">
          <span class="heading-primary--main">current<br />projects</span>
          <!-- <span class="heading-primary--sub">Engineers & contractors</span> -->
        </h1>

        <!-- <a href="#section-tours" class="btn btn--white btn--animated"
                    >Discover our projects</a
                  > -->
      </div>
    </header>

    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          Habitat Eden Heights
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/hehnew1.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/hehnew2.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 7,00,000 Sft
          <br />
          Architects: M/s Mybirdie Solutions LLP
          <br />
          Reference: Mr.Guru Prasad.
          <br />
          Partner
          <br />
          9900246649
        </h1>
      </div>
    </div>

    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          RBD STILLWATERS
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/rbd3.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/rbd4.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          BUILT-UP AREA : 675000 Sft <br />
          ARCHITECTS : M/s OCHRE <br />
          REFERENCE : Mr. AUSTIN ROACH<br />
          Managing Director
          <br />
          9945539866
        </h1>
      </div>
    </div>

    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          Sushila Devi Ragunath A Maanay Trust
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/sdrt1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/sdrt2.jpg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 80,000 Sft
          <br />
          Architects: M/s Ace Group
          <br />
          Reference: Mr. Dinesh Verma.<br />
          Ace Group- Architect

          <br />
          9900246649
        </h1>
      </div>
    </div>
    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          ASSETZ SOUL & SOIL
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/ASSETZ 1.jpg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/ASSETZ 2.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 1,08,000 Sft
          <br />
          Architects:M/s SPACE MATRIX ARCHITECTS & PLANNERS
          <br />
          Reference: Mr. VIJAY KUMAR. <br />
          HEAD – COMMERCIAL & CONTRACTS

          <br />
          9900246649
        </h1>
      </div>
    </div>
    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          JAYALAKSHMI IT PARK
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/jl1.jpg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/jl2.jpg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 5,40,000 Sft
          <br />
          Architects:M/s MYVN ARCHITECTS
          <br />
          Reference:Mr. Manjesh.

          <br />
          Director
          <br />
          9845019571
        </h1>
      </div>
    </div>
    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          NIE – IT BOYS & GIRLS HOSTEL @ NIE CAMPUS
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/nie1.jpg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/nie2.jpg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 70,000 Sft
          <br />
          Architects: M/s Sweven Studio Architects
          <br />
          Reference:Mr. B.L. Suresh

          <br />
          EXECUTIVE DIRECTOR – TECHNICAL ANPPMC P .LTD
          <br />
          9945241488
        </h1>
      </div>
    </div>
    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          R V INSTITUTE OF TECHNOLOGY
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/rvc1.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/rvc2.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 2,00,000 Sft
          <br />
          Architects: M/s K P PADMANABHA AND ASSOCIATES
          <br />
          Reference: Mr. R ASOKA
          <br />
          DIRECTOR
          <br />
          9900246649
        </h1>
      </div>
    </div>
    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          VAISHNAVI RHAPSODY
        </h1>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/vp1.jpg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2">
              <img src="../img/vp2.jpg" class="projectimg" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 5,40,000 Sft
          <br />
          Architects:M/s BALAN & NAMBISAN ARCHITECTS
          <br />
          Reference:Mr. Prabhakaran Rao
          <br />
          Sr.Vice President Techno Commercial & Contracts <br />
          9845813883
        </h1>
      </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
