<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>T & T | Engineers and Constructors</title>
  </head>
  <body>
        <div class="navigation">
                <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
          
                <label for="navi-toggle" class="navigation__button">
                  <span class="navigation__icon">&nbsp;</span>
                </label>
          
                <div class="navigation__background">&nbsp;</div>
          
                <nav class="navigation__nav">
                  <ul class="navigation__list">
                    <li class="navigation__item">
                      <a href="/" class="navigation__link">HOME</a>
                    </li>
                    
                  </ul>
                </nav>
              </div>
        <section class="section-features1">
                <h2 class="heading-secondary" style="margin-bottom: 30px;">
                  Infrastructure
                </h2>
        
                <div class="row">
                  <div class="col-1-of-1">
                    <div class="feature-box1">
                      <i class="feature-box__icon icon-basic-world"></i>
                      <h3 class="heading-tertiary u-margin-bottom-small">
                        Human Resources
                      </h3>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px"
                      >
                        We are an 84 member team in five verticals: Engineering,
                        Execution, Purchase, Accounts and Human resources, with an
                        organization chart as illustrated.
                      </p>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px;margin-top: 20px"
                      >
                        We boast of a 1200 strong labor force under various disciplines
                        of construction. We have a strong network of specialized sub:
                        Agencies for waterproofing, Painting, and Fabrication of
                        Aluminium and MS Works.
                      </p>
                    </div>
                  </div>
                </div>
<div class="row">
                  <div class="col-1-of-1">
                    <div class="feature-box1">
                      <i class="feature-box__icon icon-basic-compass"></i>
                      <h3 class="heading-tertiary u-margin-bottom-small">
                        Equipment and Machinery
                      </h3>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px"
                      >
                        Form work for about a lakh and fifty thousand square feet
                        comprising of MS Sheets, Spans and Props.
                      </p>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px;margin-top: 20px"
                      >
                        Machinery comprising hopper mixer, Weigh Batchers, Builder
                        Hoists, Alto Hoists, Needles, Vibrators, Plate Compactors,
                        Curing and Lighting Infrastructure. Scaffolding materials like
                        H-frames and cup locks fo about 80,000 square feet.
                      </p>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px;margin-top: 20px"
                      >
                      Survey equipment like Total stations, Theodolites, and Auto Levels
                      </p>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px;margin-top: 20px"
                      >
                      Lab equipment comprising Compression Testing Machine, Sieve Sets, Balances, Cube Moulds, Ovens, and Slump Cones.                      </p>
                      <p
                        class="feature-box__text"
                        style="letter-spacing:2px;word-spacing:4px;margin-top: 20px"
                      >
                        A Vacuum De-watered flooring machine for heavy-duty industrial
                        flooring which is a Vacuum Pump, Screed Vibrator, Groove Cutting
                        Machine, Power Floats, and Power Trowel.
                      </p>
                    </div>
                  </div>
        
                  <!-- <div class="col-1-of-3">
                                <div class="feature-box">
                                    <i class="feature-box__icon icon-basic-map"></i>
                                    <h3 class="heading-tertiary u-margin-bottom-small">FEATURE 3</h3>
                                     <p class="feature-box__text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                                    </p>
                                </div>
                            </div> -->
                </div>
              </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
