<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>T & T | Engineers and Constructors</title>
  </head>
  <body>

        <div class="navigation">
                <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
          
                <label for="navi-toggle" class="navigation__button">
                  <span class="navigation__icon">&nbsp;</span>
                </label>
          
                <div class="navigation__background">&nbsp;</div>
          
                <nav class="navigation__nav">
                  <ul class="navigation__list">
                    <li class="navigation__item">
                      <a href="/" class="navigation__link">Home</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/infra" class="navigation__link">infrastructure</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/educational" class="navigation__link">educational</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/commercial" class="navigation__link">commercial</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/residential" class="navigation__link">residential</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/industrial" class="navigation__link">industrial</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/current-projects" class="navigation__link">current &nbsp; projects</a>
                    </li>
                    
                  </ul>
                </nav>
              </div>
    <header class="headerin">
      <div class="header__text-box">
        <h1 class="heading-primary1">
          <span class="heading-primary--main">all<br>projects</span>
                    <!-- <span class="heading-primary--sub">Engineers & contractors</span> -->
        </h1>

        <!-- <a href="#section-tours" class="btn btn--white btn--animated"
                    >Discover our projects</a
                  > -->
      </div>
    </header>
    <div class="ed">
      <div class="row qwerty">
        <h1 class="ft2">
          Sri Dharmastala Manjunatheshwara Institute of management
        </h1>
      </div>
      <div class="row" >

        <div class="col-1-of-2" >
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2"  >
              <img src="../img/sdmit1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/sdmit2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
          Built-Up Area: 80,000 Stf
          <br>
          Architects: M/s Shirish Beri & Associates
          <br>
          Reference: Mr.D.Shreyes, Director Projects
          <br>
           
            9538545107
            </h1>
      </div>
    </div>
<div class="ed">
<div class="row qwerty">
  <h1 class="ft2">
    Green Wood High School
      </h1>
</div>
<div class="row" >

  <div class="col-1-of-2" >
    <div
      data-aos="fade-left"
      data-aos-offset="100"
      data-aos-delay="10"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
    >
      <div class="feature-box2"  >
        <img src="../img/gw1.jpeg" class="projectimg" />
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2">
        <img src="../img/gw2.jpg" class="projectimg" />
      </div>
    </div>
  </div>

</div>
<div class="row">
  <h1 class="ft1">
      Built-Up Area: 2,15,000 Sft
      <br>
      Architects: M/s Ace Group
      <br>
      Reference: Mr. Manasa Mehrotra.
      <br>
      Director, Salapuria Sattva
      <br>
      9538545107
      </h1>
</div>
</div>



<div class="ed">
<div class="row qwerty">
  <h1 class="ft2">
    Indus Itari Block            </h1>
</div>
<div class="row" >

  <div class="col-1-of-2" >
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2"  >
        <img src="../img/i1.jpeg" class="projectimg" />
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2">
        <img src="../img/i3.jpg" class="projectimg" />
      </div>
    </div>
  </div>

</div>
<div class="row">
  <h1 class="ft1">
      Built-Up Area: 15,000 Sft
      <br>
      Architects: M/s Ace Group
      <br>
      Reference: Mr.Col.Satya Rao.
      <br>
      Director & Senior Consultant                            <br>
      9886320012                          </h1>
</div>
</div>

<div class="ed">
<div class="row qwerty">
  <h1 class="ft2">
    R V Group
    M V Hostel          </h1>
</div>
<div class="row" >

  <div class="col-1-of-2" >
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2"  >
        <img src="../img/rvmv1.png" class="projectimg" />
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2">
        <img src="../img/rvmv2.png" class="projectimg" />
      </div>
    </div>
  </div>

</div>
<div class="row">
  <h1 class="ft1">
    Built-Up Area: 65,000 Sft
    <br>
    Architects: M/s Yalavagi Associates
    <br>
    Reference: Mr.R.Ashoka. 
    <br>
    Registrar                          <br>
    9845289264, 080-26568290                          </h1>
</div>
</div>
<!-- <div class="ed">
<div class="row">
  <h1 class="ft2">
    R V Group<br>
    M V Hostel          </h1>
</div>
<div class="row" >

  <div class="col-1-of-2" >
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2"  >
        <img src="../img/rvmv1.png" class="projectimg" />
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2">
        <img src="../img/rvmv2.png" class="projectimg" />
      </div>
    </div>
  </div>

</div>
<div class="row">
  <h1 class="ft1">
    Built-Up Area: 65,000 Sft
    <br>
    Architects: M/s Yalavagi Associates
    <br>
    Reference: Mr.R.Ashoka. 
    <br>
    Registrar                          <br>
    9845289264, 080-26568290                          </h1>
</div>
</div> -->
<div class="ed">
<div class="row qwerty">
  <h1 class="ft2">
    Sri Jagadguru Renuka Acharya Education Society
  </h1>
</div>
<div class="row" >

  <div class="col-1-of-2" >
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2"  >
        <img src="../img/sjr1.png" class="projectimg" />
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2">
        <img src="../img/sjr2.png" class="projectimg" />
      </div>
    </div>
  </div>

</div>
<div class="row">
  <h1 class="ft1">
    Built-Up Area: 1,10,000 Sft
    <br>
    Architects: M/s Kumar & Swamy
    <br>
    Reference: Mr.Niranjan Aradhya.
    <br>
    Trustee                          <br>
    9845078959                      </h1>
</div>
</div>
<div class="ed">
<div class="row qwerty">
  <h1 class="ft2">
    Red Bridge International School
  </h1>
</div>
<div class="row" >

  <div class="col-1-of-2" >
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2"  >
        <img src="../img/rb1.png" class="projectimg" />
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
          <div
          data-aos="fade-left"
          data-aos-offset="100"
          data-aos-delay="10"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
      <div class="feature-box2">
        <img src="../img/rb2.png" class="projectimg" />
      </div>
    </div>
  </div>

</div>
<div class="row">
  <h1 class="ft1">
    Built-Up Area: 1,10,000 Sft
    <br>
    Architects: M/s Ace Group
    <br>
    Reference: Mr.Rohan Aggarwal.
    <br>
    Trustee                          <br>
    9886484347                      </h1>
</div>


<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Mantri Mall         </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/ms1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/ms2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
        Built-Up Area: 6,00,000 Sft
        <br>
        Architects: M/s Bentel Associates & M/s Chisel Architect PVT LTD
        <br>
        Reference: Mr.Vishveswar
        <br>
            
        9900097144
        </h1>
  </div>
</div>

<!-- <div class="u-center-text u-margin-bottom-big1" id="mission">
        <h2 class="heading-secondary">Sri Dharmasthala Manjunatheshwara <br>
          Super Speciality Hospital, Dharwad</h2>
      </div> -->

<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Sri Dharmasthala Manjunatheshwara 
          Super Speciality Hospital, Dharwad         </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/sdmsh1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/sdmsh2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
        Built-Up Area: 3,50,000 Sft
        <br>
        Architects: M/s Shirish Beri & Associates
        <br>
        Reference: Mr.D. Shreyes. 
        <br>
        Director Projects
                        <br>
                        080-22220369/ 22118902
                      </h1>
  </div>
</div>

<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Sri Dharmasthala Manjunatheshwara Hospital
      </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/sdmh1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/sdmh2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      Built-Up Area: 2,60,000 Sft
      <br>
      Architects: M/s Gayathri & Namith Architects
      <br>
      Reference: Mr.D. Shreyes. 
      <br>
        Director Projects
                        <br>
                        080-22220369/ 22118902
                      </h1>
  </div>
</div>

<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Saketh Motors
      Tumkur
      </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/skm1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/skm2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      Built-Up Area: 60,000 Sft
      <br>
      Architects: M/s Pacholi Associates Delhi.
      <br>
      Reference: Mr. Samith. 
      <br>
      CEO                             <br>
      9845577444                          </h1>
  </div>
</div>



<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Chaithanya Armadale
     </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/ca1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/ca2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      Built-Up Area: 60,000 Sft
      <br>
      Architects: M/s Alay Design
      <br>
      Reference: Mr. Guru Prasad. Joint Director, C.P.P.L 
      <br>
           
      9845217177


        </h1>
  </div>
</div>
<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Mantri Terrace 
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/mt1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/mt2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 60,000 Sft
            <br>
            Architects: M/s Vernekar & Associates.
            <br>
            Reference:Mr.T.V.Manjunath.
            <br>
            Vice President Technical
                            <br>
                            9945299994

        </h1>
  </div>
</div>

<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Mythri Crescent
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/mc1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/mc2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      Built-Up Area: 8,000 Sft
      <br>
      Architects: M/s Gayathri & Namith Architects
      <br>
      Reference: Mr.B. Sriram Reddy. 
      <br>General Manager<br>
           
      9845217177


        </h1>
  </div>
</div>
<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Mythri Residency
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/mr1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/mr2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 90,000 Sft
            <br>
            Architects: M/s Ananthram & Associates.
            <br>
            Reference:Mr. B. Sriram Reddy.
            <br>
            General Manager
            <br>
            9845112862
        </h1>
  </div>
</div>




<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Sunpure Refined Oil Industry
     </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/s1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/s2.jpg" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 1,10,000 Sft
            <br>
            Architects: M/s The Design Firm
            <br>
            Reference: Mr. Abdul Hannan
            <br>
            Director
            <br>
            9902027777
        </h1>
  </div>
</div>
<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      RITTAL INDIA
      PRIVATE LIMITED         </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/ripl1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/ripl2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      BUILT-UP AREA : 
      125000 Sft                <br>
      ARCHITECTS
      M/s SUNDARAM
      CONSULTANTS                <br>
      REFERENCE
      Mr. RAVINDER BHAT
                      <br>
                      Joint Managing Director

            <br>
            080-22890700
          </h1>
  </div>
</div>
<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Praxair India Limited
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/pil1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/pil2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      Built-Up Area: 20,000 Sft
      <br>
      Architects: M/s T & T Constructions
      <br>
      Reference: Mr. Manoharan. 
      <br>
      Manager Operations
            <br>
            080-25595922

        </h1>
  </div>
</div>

<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      orchid laminates private Limited
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/or1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/or2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 2,00,000 Sft
            <br>
            Architects: Mr. BALAKRISNAN
            <br>
            Reference: Mr. PRAMOD TANTIA
<br>
DIRECTOR
            <br>
            9900246649
        </h1>
  </div>
</div>

<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Deeyem CNC Machining private limited
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/dcm1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/dcm2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      Built-Up Area: 25,000 Sft
      <br>
      Architects: M/s Bharadwaj Acharya & Associates.
      <br>
      Reference: Mr. Madhusudhan.
      <br>
DIRECTOR
            <br>
            9845037465

        </h1>
  </div>
</div>


<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      Habitat Eden Heights
    </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="feature-box2"  >
          <img src="../img/heh1.jpg" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/heh2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 7,00,000 Sft
            <br>
            Architects: M/s Mybirdie Solutions LLP
            <br>
            Reference: Mr.Guru Prasad.
             <br>
            Partner
            <br>
            9900246649
        </h1>
  </div>
</div>



<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      RBD 
      STILLWATERS       </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/rbd1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/rbd2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      BUILT-UP AREA : 
      675000 Sft                <br>
      ARCHITECTS : 
      M/s OCHRE                <br>
      REFERENCE : 
      Mr. AUSTIN ROACH<br>
      Managing Director
            <br>
            9945539866
          </h1>
  </div>
</div>
<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      PARLE AGRO
      PRIVATE LIMITED      </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/papl1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/papl2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
      BUILT- UP AREA : 
      1620000 Sft
                      <br>
                      ARCHITECTS : 
                      M/s ENGINEERING CREATIONS 
                      COUNSULTANCY (I) PVT.LTD                <br>
                      REFERENCE : 
                      Mr. RAMAPRASAD
            <br>
            Project head, Parle Head office
Mumbai,<br>
8425871926 
        </h1>
  </div>
</div>
<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2 ">
      Sushila Devi Ragunath
      A Maanay  Trust        </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/sdrt1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/sdrt2.jpg" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 80,000 Sft
            <br>
            Architects: M/s Ace Group
            <br>
            Reference: Mr. Dinesh Verma. Ace Group- Architect

            <br>
            9900246649
        </h1>
  </div>
</div>


<div class="ed">
  <div class="row qwerty">
    <h1 class="ft2">
      R V INSTITUTE OF TECHNOLOGY      </h1>
  </div>
  <div class="row" >

    <div class="col-1-of-2" >
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2"  >
          <img src="../img/rvit1.png" class="projectimg" />
        </div>
      </div>
    </div>
    <div class="col-1-of-2">
            <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
        <div class="feature-box2">
          <img src="../img/rvit2.png" class="projectimg" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <h1 class="ft1">
            Built-Up Area: 2,00,000 Sft
            <br>
            Architects: M/s K P PADMANABHA AND ASSOCIATES
            <br>
            Reference: Mr. R ASOKA
             <br>
            DIRECTOR
            <br>
            9900246649
        </h1>
  </div>
</div>




    <!-- <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">R V iNSTITUTE OF TECHNOLOGY<br>
                    At NIE Campus</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/rvit1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/rvit2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 2,00,000 Sft
                <br>
                Architects: M/s K P PADMANABHA AND ASSOCIATES
                <br>
                Reference: Mr. R ASOKA
                 <br>
                DIRECTOR
                <br>
                9900246649
            </h1>
      </div>
    </div> -->



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
