<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>T & T | Engineers and Constructors</title>
  </head>
  <body>

        <div class="navigation">
                <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
          
                <label for="navi-toggle" class="navigation__button">
                  <span class="navigation__icon">&nbsp;</span>
                </label>
          
                <div class="navigation__background">&nbsp;</div>
          
                <nav class="navigation__nav">
                  <ul class="navigation__list">
                    <li class="navigation__item">
                      <a href="/" class="navigation__link">Home</a>
                    </li>
                    <li class="navigation__item">
                      <a href="/infrastructure" class="navigation__link">infrastructure</a>
                    </li>
                  </ul>
                </nav>
              </div>
    <header class="headerin">
     

      <div class="header__text-box">
        <h1 class="heading-primary1">
          <span class="heading-primary--main">all<br>projects</span>
                    <!-- <span class="heading-primary--sub">Engineers & contractors</span> -->
        </h1>

        <!-- <a href="#section-tours" class="btn btn--white btn--animated"
                    >Discover our projects</a
                  > -->
      </div>
    </header>
    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Green Wood High School

              </h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2"  >
              <img src="../img/gw1.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/gw2.jpg" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
            Built-Up Area: 2,15,000 Sft
            <br>
            Architects: M/s Ace Group
            <br>
            Reference: Mr. Manasa Mehrotra.
            <br>
            Director, Salapuria Sattva
            <br>
            9538545107
            </h1>
      </div>
    </div>

    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Indus Itari Block
              </h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/i1.jpeg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/i3.jpg" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
            Built-Up Area: 15,000 Sft
            <br>
            Architects: M/s Ace Group
            <br>
            Reference: Mr.Col.Satya Rao.
            <br>
            Director & Senior Consultant                            <br>
            9886320012                          </h1>
      </div>
    </div>
    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Mantri Mall
              </h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2"  >
              <img src="../img/ms1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/ms2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
            Built-Up Area: 6,00,000 Sft
            <br>
            Architects: M/s Bentel Associates & M/s Chisel Architect PVT LTD
            <br>
            Reference: Mr.Vishveswar
            <br>
                
            9900097144
            </h1>
      </div>
    </div>

    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Sri Dharmasthala Manjunatheshwara <br>
              Super Speciality Hospital, Dharwad</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/sdmh1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/sdmh2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
            Built-Up Area: 3,50,000 Sft
            <br>
            Architects: M/s Shirish Beri & Associates
            <br>
            Reference: Mr.D. Shreyes. 
            <br>
            Director Projects
                            <br>
                            080-22220369/ 22118902
                          </h1>
      </div>
    </div>


    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">mantri terrace</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2"  >
              <img src="../img/mt1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/mt2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 60,000 Sft
                <br>
                Architects: M/s Vernekar & Associates.
                <br>
                Reference:Mr.T.V.Manjunath.
                <br>
                Vice President Technical
                                <br>
                                9945299994

            </h1>
      </div>
    </div>

    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">mythri residency
                    </h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/mr1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/mr2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 90,000 Sft
                <br>
                Architects: M/s Ananthram & Associates.
                <br>
                Reference:Mr. B. Sriram Reddy.
                <br>
                General Manager
                <br>
                9845112862
            </h1>
      </div>
    </div>


    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Sunpure Refined Oil Industry</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2"  >
              <img src="../img/s1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/s2.jpg" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 1,10,000 Sft
                <br>
                Architects: M/s The Design Firm
                <br>
                Reference: Mr. Abdul Hannan
                <br>
                Director
                <br>
                9902027777
            </h1>
      </div>
    </div>

    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">ORCHID LAMINATES<br>
                    PRIVATE LIMITED</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/or1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/or2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 2,00,000 Sft
                <br>
                Architects: Mr. BALAKRISNAN
                <br>
                Reference: Mr. PRAMOD TANTIA
<br>
DIRECTOR
                <br>
                9900246649
            </h1>
      </div>
    </div>



    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Habitat Eden Heights</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
          <div
            data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div class="feature-box2"  >
              <img src="../img/heh1.jpg" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/heh2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 7,00,000 Sft
                <br>
                Architects: M/s Mybirdie Solutions LLP
                <br>
                Reference: Mr.Guru Prasad.
                 <br>
                Partner
                <br>
                9900246649
            </h1>
      </div>
    </div>

    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">Sushila Devi Ragunath<br>
                    A Maanay  Trust</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/sdrt1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/sdrt2.jpg" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 80,000 Sft
                <br>
                Architects: M/s Ace Group
                <br>
                Reference: Mr. Dinesh Verma. Ace Group- Architect

                <br>
                9900246649
            </h1>
      </div>
    </div>

    <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">R V iNSTITUTE OF TECHNOLOGY<br>
                    At NIE Campus</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/rvit1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/rvit2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 2,00,000 Sft
                <br>
                Architects: M/s K P PADMANABHA AND ASSOCIATES
                <br>
                Reference: Mr. R ASOKA
                 <br>
                DIRECTOR
                <br>
                9900246649
            </h1>
      </div>
    </div>

    <!-- <div class="u-center-text u-margin-bottom-big1" id="mission">
            <h2 class="heading-secondary">R V iNSTITUTE OF TECHNOLOGY<br>
                    At NIE Campus</h2>
          </div>

    <div class="ed">

      <div class="row" >

        <div class="col-1-of-2" >
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2"  >
              <img src="../img/rvit1.png" class="projectimg" />
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
                <div
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
            <div class="feature-box2">
              <img src="../img/rvit2.png" class="projectimg" />
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="ft1">
                Built-Up Area: 2,00,000 Sft
                <br>
                Architects: M/s K P PADMANABHA AND ASSOCIATES
                <br>
                Reference: Mr. R ASOKA
                 <br>
                DIRECTOR
                <br>
                9900246649
            </h1>
      </div>
    </div> -->



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
